.skills{

    background:@dark;

}

.skill{

    margin-bottom:35px;

}

.skill span{

    display:block;

    margin-bottom:10px;

    font-weight:bold;

}

.progress{

    width:100%;

    background:#202833;

    border-radius:30px;

    overflow:hidden;

}

.progress-bar{

    background:linear-gradient(90deg,@primary,@secondary);

    padding:12px;

    text-align:right;

    font-weight:bold;

    color:#000;

}